@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

.app {
    font-size: var(--font-m);
    // background: #eee;
    background: var(--bg-color-first);
    // color: var(--primary-color);
    min-height: 100vh;
    max-width: 100vw;
    color: var(--font-color);
}

.content-page {
    display: flex;  
    min-height: 100vh;
}
