<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>База епт</title>
  <link rel="stylesheet" href="../../static/task/css/basaStyles.css">
</head>
<body>
  <div class="container">
    <div class="menu">
      <button id="toggleMenu"><img src="../../static/task/img/image 37.png" alt="Лого"></button>
      <nav id="sidebar">
        <ul>
          <li><img src="../../static/task/img/image%2020.png" alt="Иконка 1"><span class="label">  Задачи</span></li>
          <li><img src="../../static/task/img/image%202.png" alt="Иконка 2"><span class="label">  Выполненные</span></li>
          <li><img src="../../static/task/img/image%2024.png" alt="Иконка 3"><span class="label">  Статистика</span></li>
          <li><img src="../../static/task/img/image%2022.png" alt="Иконка 4"><span class="label">  История</span></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="search-bar">
  <div class="search-wrapper">
    <img class="search-icon" src="../../static/task/img/lupa.png" alt="Лупа">
    <input type="text" class="search-input" placeholder="Поиск">
  </div>
 <div class="notification-icons">
  <button id="notificationButton">
    <img src="../../static/task/img/not1.png" alt="Иконка уведомлений">
  </button>
  <button id="profileButton">
    <img src="../../static/task/img/avatar.jpg" alt="Иконка личного кабинета">
  </button>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <!-- Содержимое модального окна -->
  </div>
</div>


      <!-- Основное содержимое страницы -->
    </div>
  </div>
  <script src="../../static/task/js/basajs.js"></script>
</body>
</html>
