{% extends 'task/base.html' %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
  <h2>Личный кабинет</h2>
  <section>
    <div>
      {% if user.ava_image %}
        <img src="{{ user.ava_image.url }}" alt="Avatar" style="max-width: 100px; max-height: 100px;">
      {% else %}
        <p>Аватар не загружен</p>
      {% endif %}
    </div>
    <p><strong>Логин: </strong>{{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Последнее посещение:</strong> {{ user.last_login }}</p>
    <p><strong>Идентификатор компаний:</strong> {{ user.company_identifier }}</p>
    <p><strong>Название компаний:</strong> {{ user.name }}</p>
  </section>
  <a href="{% url 'edit_profile' %}" class="btn btn-primary">Изменить данные</a>
{% endblock %}
