{% extends 'task/base.html' %}
{% block title %}Company Dashboard{% endblock %}

{% block content %}
  <style>
    .category-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .category-card {
      width: 30%;
    }

    .project-card {
      width: 100%;
      max-width: 300px;  /* Ограничение по ширине */
      margin: 0 auto;    /* Центрирование карточек */
      margin-bottom: 20px;
    }

    .status-background {
      padding: 5px;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    .active-bg {
      background-color: #28a745; /* Зеленый цвет для активных */
    }

    .expiring-bg {
      background-color: #ffc107; /* Оранжевый цвет для прогарающих */
    }

    .overdue-bg {
      background-color: #dc3545; /* Красный цвет для просроченных */
    }
  </style>

  <h1>Информационная панель компании</h1>
  {% if user.status == 2 %}
    <div class="category-container">
      <div class="col-md-4 mb-4">
        <div class="card project-card active-bg">
          <div class="card-body">
            <h5 class="card-title">Активные</h5>
            <p class="card-text">Количество: {{ active_projects|length }}</p>
          </div>
        </div>
        {% for project in active_projects %}
          <div class="card project-card active-bg">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'project_detail' project.id %}">{{ project.name_project }}</a></h5>
              <p class="card-text">{{ project.description_project }}</p>
              <p class="card-text">Дата начала: {{ project.start_date }}</p>
              <p class="card-text">Дата окончания: {{ project.end_date }}</p>
              <div class="status-background">
                Активен
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-4 mb-4">
        <div class="card project-card expiring-bg">
          <div class="card-body">
            <h5 class="card-title">Прогарающие</h5>
            <p class="card-text">Количество: {{ expiring_projects|length }}</p>
          </div>
        </div>
        {% for project in expiring_projects %}
          <div class="card project-card expiring-bg">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'project_detail' project.id %}">{{ project.name_project }}</a></h5>
              <p class="card-text">{{ project.description_project }}</p>
              <p class="card-text">Дата начала: {{ project.start_date }}</p>
              <p class="card-text">Дата окончания: {{ project.end_date }}</p>
              <div class="status-background">
                Прогарающий
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-4 mb-4">
        <div class="card project-card overdue-bg">
          <div class="card-body">
            <h5 class="card-title">Просроченные</h5>
            <p class="card-text">Количество: {{ overdue_projects|length }}</p>
          </div>
        </div>
        {% for project in overdue_projects %}
          <div class="card project-card overdue-bg">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'project_detail' project.id %}">{{ project.name_project }}</a></h5>
              <p class="card-text">{{ project.description_project }}</p>
              <p class="card-text">Дата начала: {{ project.start_date }}</p>
              <p class="card-text">Дата окончания: {{ project.end_date }}</p>
              <div class="status-background">
                Просрочен
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  {% else %}
    <p>У вас нет доступа к этой странице.</p>
  {% endif %}
  <a class="btn btn-primary" role="button" href="{% url 'create_project' %}">Создать новый проект</a>
{% endblock %}
