{% extends 'task/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Саня сделай дизайн до завтра<br>
        Добро пожаловать на нашу платформу!</h1>
    <p class="lead">
        Мы рады приветствовать вас здесь, где управление задачами становится простым и отпуск — более запоминающимся.
        Наши инструменты помогут вам эффективно управлять задачами и планировать свое время.
    </p>
</div>
{% endblock %}