{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'task/css/styles.css' %}">
</head>
<body>
<header>
    <div class="language-selector">
        <a href="#" class="language-link">RU</a>
        <a href="#" class="language-link">EN</a>
    </div>
    <nav class="main-menu">
        <a href="#">Возможности</a>
        <a href="#">Решения</a>
        <a href="#">Планы</a>
        <a href="#">Поддержка</a>
    </nav>
    <div class="info-icon">
        <img src="../../static/task/img/info.svg" alt="Info">
    </div>
</header>

<div class="auth">
    <div class="auth_item">
        <a href="#">
            <img src="../../static/task/img/Logo.svg" alt="Your Logo" class="logo">
        </a>

        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.username.errors }}  <!-- Ошибки для поля 'username' -->

            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <br>
            {{ form.password.errors }}
            <button type="submit">Войти</button>
        </form>
    </div>
</div>

<footer>
    <p class="footer-text">Готовы повысить эффективность вашей команды? <a href="#" class="register-link">ЗАРЕГИСТРИРУЙТЕСЬ</a>
    </p>
</footer>

</body>
</html>