{% extends 'task/base.html' %}

{% block title %}Регистрация Компаний{% endblock %}

{% block content %}
<div class="form-container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h2>Регистрация Компаний</h2>
  <form method="post">
    {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Ошибки:</strong>
    <ul>
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ field }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
    {% csrf_token %}

    {{ form.username.label_tag }} {{ form.username }}
    <br>
    {{ form.username.errors }}  <!-- Ошибки для поля 'username' -->

    {{ form.first_name.label_tag }} {{ form.first_name }}
    <br>
    {{ form.first_name.errors }}

    {{ form.last_name.label_tag }} {{ form.last_name }}
    <br>
    {{form.last_name.errors}}

    <div class="form-group">
    {{ form.password1.label_tag }}
    <input type="password" name="{{ form.password1.name }}" class="form-control" style="width: 200px">
    </div>
    <br>

    <div class="form-group">
    {{ form.password2.label_tag }}
    <input type="password" name="{{ form.password2.name }}" class="form-control" style="width: 200px">
    </div>
    <br>
    {{ form.status }}{{ form.status.errors }}
    {{ form.company_identifier.errors }}
    {{ form.password2.errors }}  <!-- Ошибки для поля 'password2' -->
    {{ form.name.label_tag }}<br>{{ form.name }}
    <br><br>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
</div>
{% endblock %}