.ThemeSwitcher{
    margin-left: 20px;
    border: none;
}

.svg {
    background-color: var(--bg-color-first);
    border: none;
    outline: none;
    // width: 40px;

    img {
        width: 45px;
        border: none;
        // border: 10px solid red;
        outline: none;
    }
}

