.app.light {
    --bg-color-first: #edeef0;
    --bg-color-second: #fff;
    // --bg-color-second: #ece1e1;
    // --bg-color-first: #fff;
    // --font-color: #697a8d;
    --font-color: #000;
    // --font-color: red
}